
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
  line-height: 20px;
}
.cards {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    word-wrap: initial;
}
.card {
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    border-color: #aaa;
    margin-bottom: 10px;
    max-width: 470px;
    max-height: 320px;
    padding-left: 10px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}    
h2 {
    font-size: 24px;
    line-height: 24px;
}
.card:nth-of-type(1) {
  order: 2;
}
.card:nth-of-type(2) {
  order: 3;
}
.card:nth-of-type(3) {
    overflow: scroll;
    order: 4;
}
.card:nth-of-type(4) {
  order: 5;
}  
.card:nth-of-type(5) {
    overflow: scroll;
    order: 6;
}
.mynd {
  background-image: url("https://raw.githubusercontent.com/Wolfcoder13/vef1-2019-v5/master/img.jpg");
  max-width: 150px;
  max-height: 100px;
  padding-right: 20px;
  background-size: contain;
}
.brjóta {
  word-break: break-all;
}
.card:last-of-type {
  order: 1;
}
li {
  list-style-type: none;
  display: inline-flex;
  text-align: bottom;
  font-weight: bold;
  order: 4;
}
